<a href="https://colab.research.google.com/github/MayankSaraswat13/Google-Colab/blob/main/Apple_Orange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix 
from sklearn import preprocessing
from sklearn.metrics import classification_report

In [ ]:
df=pd.read_csv("apples_and_oranges.csv")
df.head()

   Weight  Size   Class
0      69  4.39  orange
1      69  4.21  orange
2      65  4.09  orange
3      72  5.85   apple
4      67  4.70  orange

In [ ]:
x=df.iloc[:,:-1]
x.head()

   Weight  Size
0      69  4.39
1      69  4.21
2      65  4.09
3      72  5.85
4      67  4.70

In [ ]:
y=df.iloc[:,-1]
y.head()

0    orange
1    orange
2    orange
3     apple
4    orange
Name: Class, dtype: object

In [ ]:
l = preprocessing.LabelEncoder()   
y= l.fit_transform(y)
y

array([1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0], dtype=int64)

# Logistic Regression:

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
x_train

    Weight  Size
27      70  4.22
35      69  4.11
37      74  5.48
2       65  4.09
39      73  5.03
30      73  5.78
34      68  4.83
16      69  4.66
36      69  4.76
8       74  5.36
13      68  4.47
5       73  5.68
17      75  5.25
14      74  5.22
33      73  5.17
7       75  5.11
32      72  5.72
1       69  4.21
26      67  4.01
12      74  5.53
31      66  4.68
24      67  4.25
6       70  5.56
23      68  4.08
21      70  4.83
19      74  5.50
9       65  4.27
38      70  5.59
3       72  5.85
0       69  4.39

In [ ]:
y_train

array([1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1], dtype=int64)

In [ ]:
x_test

    Weight  Size
22      69  4.61
20      66  4.13
25      71  5.35
4       67  4.70
10      73  5.79
15      65  4.48
28      74  5.25
11      70  5.47
18      67  4.18
29      71  5.26

In [ ]:
y_test

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 0], dtype=int64)

In [ ]:
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_prid=reg.predict(x_test)
y_prid

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 0], dtype=int64)

In [ ]:
print(classification_report(y_test,y_prid))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         5

    accuracy                           1.00        10
   macro avg       1.00      1.00      1.00        10
weighted avg       1.00      1.00      1.00        10