<a href="https://colab.research.google.com/github/MayankSaraswat13/Google-Colab/blob/main/Desicion_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [ ]:
df=pd.read_csv("apples_and_oranges.csv")
df.head()

   Weight  Size   Class
0      69  4.39  orange
1      69  4.21  orange
2      65  4.09  orange
3      72  5.85   apple
4      67  4.70  orange

In [ ]:
x=df.iloc[:,:-1]
x

    Weight  Size
0       69  4.39
1       69  4.21
2       65  4.09
3       72  5.85
4       67  4.70
5       73  5.68
6       70  5.56
7       75  5.11
8       74  5.36
9       65  4.27
10      73  5.79
11      70  5.47
12      74  5.53
13      68  4.47
14      74  5.22
15      65  4.48
16      69  4.66
17      75  5.25
18      67  4.18
19      74  5.50
20      66  4.13
21      70  4.83
22      69  4.61
23      68  4.08
24      67  4.25
25      71  5.35
26      67  4.01
27      70  4.22
28      74  5.25
29      71  5.26
30      73  5.78
31      66  4.68
32      72  5.72
33      73  5.17
34      68  4.83
35      69  4.11
36      69  4.76
37      74  5.48
38      70  5.59
39      73  5.03

In [ ]:
y=df.iloc[:,-1]
y

0     orange
1     orange
2     orange
3      apple
4     orange
5      apple
6      apple
7      apple
8      apple
9     orange
10     apple
11     apple
12     apple
13    orange
14     apple
15    orange
16    orange
17     apple
18    orange
19     apple
20    orange
21    orange
22    orange
23    orange
24    orange
25     apple
26    orange
27    orange
28     apple
29     apple
30     apple
31    orange
32     apple
33     apple
34    orange
35    orange
36    orange
37     apple
38     apple
39     apple
Name: Class, dtype: object

In [ ]:
l = preprocessing.LabelEncoder()   
y= l.fit_transform(y)
y

array([1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
x_train

    Weight  Size
27      70  4.22
35      69  4.11
37      74  5.48
2       65  4.09
39      73  5.03
30      73  5.78
34      68  4.83
16      69  4.66
36      69  4.76
8       74  5.36
13      68  4.47
5       73  5.68
17      75  5.25
14      74  5.22
33      73  5.17
7       75  5.11
32      72  5.72
1       69  4.21
26      67  4.01
12      74  5.53
31      66  4.68
24      67  4.25
6       70  5.56
23      68  4.08
21      70  4.83
19      74  5.50
9       65  4.27
38      70  5.59
3       72  5.85
0       69  4.39

In [ ]:
y_train

array([1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1])

In [ ]:
x_test

    Weight  Size
22      69  4.61
20      66  4.13
25      71  5.35
4       67  4.70
10      73  5.79
15      65  4.48
28      74  5.25
11      70  5.47
18      67  4.18
29      71  5.26

In [ ]:
y_test

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 0])

In [ ]:
reg=DecisionTreeClassifier()
reg.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
y_prid=reg.predict(x_test)
y_prid

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 0])

In [ ]:
y_test

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 0])

In [ ]:
cf_matrix = confusion_matrix(y_test, y_prid)
cf_matrix

array([[5, 0],
       [0, 5]])

In [ ]:
print(classification_report(y_test,y_prid))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         5

    accuracy                           1.00        10
   macro avg       1.00      1.00      1.00        10
weighted avg       1.00      1.00      1.00        10